/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Montserrat:400,700");
$base-font: "Montserrat", "Helvetica","sans-serif";
$header-font: "Amatic SC", "Helvetica", "cursive";

// Font-size and line-height
$base-size: 20px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-pink: #FF2055;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$brand-yellow: #EAC435;
$brand-blue: #333745;
$brand-green: #03cea4;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
