h3 { font-size:17px;
  color:black;
 left: 20px ;

}

.activities-checkbox {
 background: #eff1f1;
 padding: 10px;
 border: 1px solid #e8e8e8;

}


.activities-cost
{
  background: #eff1f1;
  padding: 10px;
  border: 1px solid #e8e8e8;


}

#category{
  padding: 30px;
  border: 1px solid lightgrey;
  background: white;
}

.date{
  color: #b3b3b3;
}

#messages{
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid lightgrey;
}

.card.activities {
  box-shadow: 0 0px 5px 1px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 35%;

  border-radius: 10px;
  background-color: white ;
  padding: 5px;
  color: #fff;

}


.fun {
  position: absolute;
  top: 130px;
  right: 820px ;
  width: 50px;
  height: 50px;
}


.card-title
{
  font-size:22px;
  color: #757575;
}

.card-category
{
  font-size:18px;
  color: #757575;
}

.card-city
{
  font-size: 18px;
  color: #757575;
}


.card {
 box-shadow:0 1px 3px rgba(0,0,0,0.12);
 padding: 15px;
 margin-bottom: 20px;
}

.card-heart {
  font-size: 20px;
  color: white;
  padding-right: 20px;
  padding-top: 20px;
}

.card-price {
  font-size:16px;
  color: white;
  background-color: rgba(0,0,0,0.6);
  padding: 10px;
  margin-bottom: 20px;
}

.fa .fa-heart {
  size: 50px;
  position: absolute;
  top: 200px;
  left: 300px;
  color: white;
}


.card-title {

  font-size:20px;
  color: black;

  margin-top: 15px;

}

.card-image {
  background-size: cover;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.card-category {

 font-size:12px;
 text-transform: uppercase;
 color: #00d4b3;
 margin-top: 7px;
}

.card-city {
  font-size: 12px;
  color: #9b9b9b;
  margin-top: 20px;
  margin-bottom: 15px;
}

.category-red{
  color: red;
}
