
/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
/*------------------------------------
below is the code for the carousel
--------------------*/
.banner {
  background-image: url('home_pict1.jpg');
  background: -webkit-linear-gradient(180deg, rgba(75,49,106,0) 0%, rgba(75,49,106,0.5) 55%);
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-film {
  background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.banner-text {
  font-size: 72px;
  text-shadow: 0px 0 2px rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: white;

}


.banner-subtitle {
 font-size: 20px;
 font-family: Montserrat;
 font-weight: 400;
}

.text {
 font-size: 32px;
 letter-spacing: 1px;
 color: white;
 font-family: Montserrat;
 font-weight: 400;
 margin-bottom: 0;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
  margin-bottom: 46px;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

// .bg-gradient {
//     background-image: -webkit-linear-gradient(180deg, rgba(75,49,106,0) 0%, rgba(75,49,106,0.5) 55%);
//     z-index: 1;
// }


.home-text {
  font-size: 18px;
}

.home-page-title {
  font-size: 58px;
}

.bg-filter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.carousel-content{
  display: flex;
  align-items: center;
}

.card-images {
  height: 300px;
  background-size: cover !important;
  color: white;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}


.card-description-images {
  bottom: 150px;
  padding-top: 30%;
  left: 30%;
  text-align: center;
}

.card-images-2 {
  height: 400px;
  background-size: cover !important;
  color: white;
  padding-top: 10px;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-description-images-2 {
  bottom: 150px;
  padding-top: 65%;
  left: 30%;
  text-align: center;
}

.card-description-images-3 {
  bottom: 150px;
  padding-top: 50%;
  left: 90%;
  text-align: center;
}


.home-p {
  color: white;
}


.space-margin {
  margin-bottom: 50px;
}


.space-margin2 {
  margin-bottom: 80px;
}

.space-margin3 {
  margin-top: 70px;
}

.less-space {
  margin-bottom: -100px;
}


// older css to be deleted

// .card-user {
//   position: absolute;
//   right: 10px;
//   top: 10px;
// }

// .card-description {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }
// .card-description h2 {
//   font-size: 24px;
// }
// .card-description p {
//   font-size: 13px;
//   }
// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   width: 100%;
//   z-index:2;
//   background: black;
//   opacity: 0;
// }
// .card-link:hover{
//   opacity: 0.1;
// }

// .width {
//   width: 100%;
// }

// .banner p.call-to-action {
  //   font-weight: 700;
  //   font-size: 30px;
  //   color: #FFFFFF;
  // }




  // .card-user {
    //   position: absolute;
    //   right: 10px;
    //   top: 10px;
    // }

    // .card-description {
      //   position: absolute;
      //   bottom: 10px;
      //   left: 10px;
      // }
      // .card-description h2 {
        //   font-size: 24px;
        // }
        // .card-description p {
          //   font-size: 13px;
          //   }
          // .card-link {
            //   position: absolute;
            //   top: 0;
            //   bottom: 0;
            //   width: 100%;
            //   z-index:2;
            //   background: black;
            //   opacity: 0;
            // }
            // .card-link:hover{
              //   opacity: 0.1;
              // }

              // .width {
                //   width: 100%;
                // }



                // .header  {
                  //  color: #0c5897;
                  // }

// .fullscreen-search {
// /*  background: image-url("activity_boring_1.jpg");*/
//   background-image: url('home_pict5.jpg');
//   color: white;
//   text-align: center;
//   height: calc(100vh - 70px);
//   /* if you have a 70px navbar => height: calc(100vh - 70px); */
//   background-size: cover !important;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .home{
//   background-color: black;
//   .navbar-snowbnb{
//     background: RGBA(5, 3, 6, 0);
//   }
// }

// .fullscreen-film {
//   background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.3));
//   height: 100%;
//   width: 100%;
//   margin-top: -100px;
//   padding-bottom: 145px;
//    h1 {
//   color: white;
//   padding-bottom: 20px;
//   margin-top: 0px;
//   text-transform: uppercase;
//   letter-spacing: 10px;
//   z-index: 1;
//   }
// }

// #main-search{
//   text-align: center;
//   // padding-right: 300px;
//   top: 250px;
// }

// .home-search{
//   margin-right: 10px;
// }
