<select>
  <option value="volvo">00:00</option>
  <option value="saab">01:00</option>
  <option value="opel">02:00</option>
  <option value="audi">03:00</option>
  <option value="volvo">04:00</option>
  <option value="saab">05:00</option>
  <option value="opel">06:00</option>
  <option value="audi">07:00</option>
  <option value="volvo">08:00</option>
  <option value="saab">09:00</option>
  <option value="opel">10:00</option>
  <option value="audi">11:00</option>
  <option value="volvo">12:00</option>
  <option value="saab">13:00</option>
  <option value="opel">14:00</option>
  <option value="audi">15:00</option>
  <option value="volvo">16:00</option>
  <option value="saab">17:00</option>
  <option value="opel">18:00</option>
  <option value="audi">19:00</option>
  <option value="volvo">20:00</option>
  <option value="saab">21:00</option>
  <option value="opel">22:00</option>
  <option value="audi">23:00</option>
</select>
