
<div class="footer">
  <ul class="list-inline">
    <li><a href=""><i class="footer-logo"><%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.svg" %></i>
  <% end %>
    </a></li>
    <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i>
    </a></li>
    <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i>
    </a></li>
    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i>
    </a></li>
    <li><a href=""><i class="contact"></i> hello@polterappen.com
    </a></li>
  </ul>
</div>

<!-- javascript to keep the navbar at the bottom of webpage -->
<script>
  $(document).ready(function() {
    var docHeight = $(window).height();
    var footerHeight = $('#footer').height();
    var footerTop = $('#footer').position().top + footerHeight;

    if (footerTop < docHeight) {
      $('#footer').css('margin-top', 10+ (docHeight - footerTop) + 'px');
    }
  });
</script>
