// Your footer style
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

.push {
    height: 50px; /* .push must be the same height as .footer */
}

.footer {
  height: 50px;
  font-size: 0.8em;;
  color: black;
  padding: 30px;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  position: relative;
  background-color: #C1DBB3;
  opacity: 0.7;
}

.container-footer {





}




.icons-footer {
  color: black;
  opacity: 1.5;
  font-size: 30px;
}





