Your footer style
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
  }

  .push {
    height: 50px; /* .push must be the same height as .footer */
  }
  .footer{
    border-top: 1px solid #e8e8e8 ;
    font-size: 0.9em;;
    padding: 20px 0 4px 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer ul li a{
    color: gray;
  }


  .footer-logo a img {
    width: 110px;
    padding-bottom: 6px;
  }

//   background-color: #C1DBB3;
//   opacity: 0.7;
// }

// .container-footer {





// }




// .icons-footer {
//   color: black;
//   opacity: 1.5;
//   font-size: 30px;
// }
=======
}


.icons-footer {
  color: black;
  opacity: 1.5;
  font-size: 30px;
}
>>>>>>> filters style complete





