.btn {
  font-size: 14px;
  background: #FFFFFF;
  // margin: 5px;
  color: $brand-green;
  letter-spacing: 0px;
  border: 1px solid;
  border-radius: 3px;
  transition: background 300ms;
}



.btn-default:hover{
  border-style: none;
}

.button-inspiration {
 margin: 5px;
 transition: background 300ms;
 font-size: 22px;
 padding: 16px 28px;
 border-radius: 4px;
 background-color: #03cea4;
 color: white;
 border: none;
 }

.button-inspiration:hover{
text-decoration: none;
color: white;
background-color: #03a785;
}

.button-inspiration:focus{
text-decoration: none;
color: white;
}

.btn:hover {
  opacity: 1.5;
  color: white;
  background: $brand-green;
border: 1px solid $brand-green;
}

.btn-pink {
  background: $brand-pink;
  border-radius: 3px;
  padding: 15px 20px;
  opacity: 1;
  margin: 2em 0 3em 0;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1px;
}

.btn-green {



}

.btn-pink-sm {
  background: $brand-pink;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1px;

}

.btn-pink-outline-sm {
  background: #FFFFFF;
  color: $brand-pink;
  border-radius: 3px;
  padding: 3px 6px;
  letter-spacing: 1px;
}

#fav-activities-button {
  position: fixed;
  right: 200px;
  bottom: 10px;
  width: 8em;
  margin-top: -2.5em;
  z-index: 1;
}
