.card-testimonial {
margin: 0.7em 0.7em 1.5em 0.7em;
border-top: 5px solid #03CEA4;
position: relative;
border-bottom: 2px solid #03CEA4;
border-left: 2px solid #03CEA4;
border-right: 2px solid #03CEA4;
padding: 2em;
border-radius: 2px;
}

.text-center {
 text-align: center;
}

.card-instructions {
width: 100%;
padding: 30px;
float: left;
border-bottom: 1px solid #fff;
text-align: center;
}

.icon-instructions {
  font-size: 60px;
}








