.box-container {
  height: 100%;
}
.container2{

}
.container1{

}
.activity-item {
  font-size: 16px !important;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  transition: box-shadow 300ms;
}

.activity-item:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.time-slot-hour {
  // background-color: #24CCB8;
  font-size: 14px !important;
  height: 25px;
  color: black;
  padding: 5px;
  vertical-align: middle;
  border-bottom: solid #CECFC7;
  border-width: 1px;
}

.time-slot-half-hour {
  // background-color: #24CCB8;
  font-size: 14px !important;
  height: 25px;
  color: black;
  padding: 5px;
  vertical-align: middle;
  border-bottom: solid #CECFC7;
  border-width: 2px;
}

.no-margin {
 padding: 0 !important;
 margin: 0 !important;
}

// box items duration

.box-item {
  width: 100%;
  z-index: 1000;
  font-size: 10px;
}

.box-item-time {
  width: 100%;
  z-index: 1000;
  font-size: 10px;
}

.time-picker {
  font-size: 10px;
  width: 50%;
  background-color: red;
}

.activity-item-content {
  display: flex;
  justify-content: space-between;
}

.activity-item-text {
  font-size: 14px;

}

// CONTAINER STYLING
#container1 {
  .activity-item{
    background-color: white;
    color: #333333;
  }
  .activity-item-text{
    color: #9b9b9b;
    opacity: 1;
  }

}

#container2 {
  .activity-item{
    background-color: #03bb95;
    color: white;
  }
  .activity-item-text{
    color: white;
    opacity: 0.7;
  }

}

.dayplanner-container{
  background-color: white;
  padding: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
