.box-container {
  height: 100%;
  min-height: 300px;
}

.activity-item {
  background-color: #24CCB8;
  font-size: 14px !important;
  height: 50px;
  color: white;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 4px;
  margin: 2px 0px;
  padding-right: 0;
}

.activity-item:hover {
  cursor: pointer;
  background-color: yellow;
  color: black;
}

.time-slot-hour {
  // background-color: #24CCB8;
  font-size: 14px !important;
  height: 50px;
  color: black;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 4px;
  margin: 2px 0px;
  padding-right: 0;
}

.no-margin {
   padding: 0 !important;
   margin: 0 !important;
}

// box items duration

.box-item {
  width: 100%;
  z-index: 1000;
  font-size: 10px;
}

.box-item-time {
    width: 100%;
    z-index: 1000;
    font-size: 10px;
}

.time-picker {
  font-size: 10px;
  width: 50%;
  background-color: red;
}
