body {
  font-size: 14px;
}

h1 {
font-size: 75px;
font-weight: 700;
}

h2 {
font-size: 40px;
font-weight: 700;
}


h3 {
font-size: 32px;
font-weight: 700;
}

h4 {
font-family: Montserrat;
font-size: 20px;
font-weight: normal;
}

p {
font-size: 14px;
font-weight: 400;
}

.sm-text {
font-family: Montserrat;
font-size: 12px;
font-weight: 400;
color: #9B9B9B;
}

.link-text {


}
