// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blue {
  color: #EE5F5B;
}

.green {
  color: #469AE0 !important;
}

.favourite-icon-size {
  font-size: 30px;
  color: #FDB631;
}

