// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blue {
  color: #469AE0 !important;
}
.filter-h3{
  margin-top:0;
  background-size: 10px;
  font-size: 34px;
}
.green {
  color: #32B796 !important;
}

.favourite-icon-size {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

.activity-category {
  font-size: 20px;
}

.activity-price {
 background-color: #03cea4;
 border: 1px solid white;
  height: 40px;
  padding: 10px;
}

.activities-checkbox {
  background-color: white ;
  border-radius: 1px;
  border: 1px solid #FF2055;
  color: black;
  border-radius: 10px;
}

.activity-title {
  font-size:30px;
  color: white;
}

.activity-box {
  padding: 25px;
  background-color: #f9f9f9;
  border: 1px solid #e8e8e8;
  background-size: 30px;
  padding: 40px;
}

.form-control {

}

.form-group-box {
  background-color: transparent;
  border-radius: 1px;
  color: black;
}

.form-control-cost {
  height: 40px !important;
  margin-bottom: 30px;
  background-size: 1px;
  padding: 20px;
  border: 1px solid white;
  height: 10px;
  background-color: white ;
  font-size: 15px;
  // border-bottom: 5px;
}

.hours {
  margin-bottom: 20px ;
}

.address {
   margin-bottom: 20px ;
}

.favourite {
 background-color: #DB2465;
  padding-bottom: 20px;
  padding: 15px;
  color: white;
}


.filter-activities {
  background: #32B796;
  font-size: 17px;
  border-bottom: 2px;
  border: none ;
  border-radius: 4px;
  padding: 7px 18px;
  color: white;
  height: 40px;
}

.save-act {
  background: #FF2055;
  font-size: 17px;
  border-bottom: 2px;
  border: none ;
  border-radius: 4px;
  padding: 7px 18px;
  color: white;
  height: 40px;
  text-align: center;

}

.footer{
border-top: 1px solid #e8e8e8;
padding-top: 20px;
margin-top: 20px;
}

// BELOW HERE IS PASTED CODE BEWARE!

.activity-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.30);
  border-radius: 4px;
  align-items: center;
  height: 400px;
  width: 380px;
  margin: 20px;
}

.activity-pic{
  height: 276px ;
}
.activity-pic>img{
  height: 276px;
}
.activity-deets{
  padding: 15px;
  display: flex;
  flex-direction: row;
}
.deets-rhs, .deets-center, .deets-lhs{
  display: flex;
  flex-direction: column;
}
.deets-lhs{
  align-self: flex-start;
  padding: 5px;
}
.deets-center{
  align-self: center;
  padding: 5px;
}
.deets-rhs{
  align-self: flex-start;
}

.card-title {
  font-size:20px;
  color: green;
}

.card-category {
  color: #32B796;
  font-size: 16px;
  padding-bottom: -70%;
}

.card-address {
  color: #757575;
  font-size: 14px;
}


.card-city
{
  color: #757575;
}

.cost-boxing {
  position: absolute;
  bottom: 20px;
  right: 15px;
  font-size: 16px;
  color: white;
  background-color: rgba(0,0,0,0.4);
  padding: 10px;

}

.favourite-boxing {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 15px;
  padding: 10px;
  color: #B1B1B1 ;

}

.activities-container-cards {
  padding: 30px;
}

.activity-card-2 {
  margin-bottom: 20px;
  border: #B1B1B1 2px solid;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.30);
  height: 400px;
}


.img {
  height: 220px;
  display: block;
  margin: 0 auto;

}

.picture-box {
  position: relative;

}

.activity-card-3 {
  padding: 10px;

}



