<div class="text-center headline-margin">
  <h2>Here you can create a new activity</h2>
  <h3>If you want to add another great activity to your polterabend do it here!</h3>
</div>

<%= render 'form' %>
