<h1>This is the Activity SHOW page</h1>
<div class="card">
  <img src="image/bubbleball.jpg" alt="Avatar" style="width:93%" >

   <div class="container">

    <h2><b> Price DKK </b></h2>
<div class="container">
<div class="card-title" >
   Tittle
</div>
<div class="card-category" >
   Category
</div>
<div class="card-city" >
   City
</div>


    <div class="fun">
    <img src="image/peace.png" alt="Avatar" style="width:25px;%" >
 </div>

    </div>
  </div>

</div>
