<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Promo Chat</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/activities.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="activity-top">
          <div class="activity-title">
            Title here
            <div class="activity-category">
              Category
            </div>
          </div>

          <div class="activity-price">
            300 DKK
          </div>
        </div>
      </div>
    </div>


   <br>
   <br>
   <div class="row">
    <div class="col-md-6 col-md-offset-1">
     <div class="activity-description">

       Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Umami "
       tattooed sriracha meggings pickled Marfa Blue Bottle High Life next level four loko PBR. Keytar
       pickled next level keffiyeh drinking vinegar street art. Art party vinyl Austin, retro whatever keytar
       mixtape.
       Pickled ethnic farm-to-table distillery ugh chia. Ethical Odd Future narwhal, mlkshk fap
       asymmetrical next level High Life literally cred blog. Banh mi swag art party, fashion axe you
       probably haven't heard of them stumptown tousled food truck post-ironic quinoa bicycle rights
       aesthetic keytar Pitchfork.
     </div>
   </div>
   <div class="col-md-4">
     <div class="activity-box">
       <div class="hours"> <i class="fa fa-clock-o" aria-hidden="true"></i>
        Hours
      </div>
      <div class="address"> <i class="fa fa-map-marker" aria-hidden="true"></i>
       Address

     </div>
     <div class="favourite"> <i class="fa fa-heart" aria-hidden="true"></i>
       Add to event

     </div>
   </div>
 </div>

 <div class="row">

  <div class="col-md-10 col-md-offset-1">
    <h2> Other activities </h2>
    <div class="row">


      <div class="col-md-4">
        <div class="card">
          <div class="card-image">
            <div class="card-heart">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
            <div class="card-price"><b> Price DKK </b></div>
          </div>
          <div class="card-title" >
           Title
         </div>
         <div class="card-category" >
           Category
         </div>
         <div class="card-city" >

           <i class="fa fa-map-marker" aria-hidden="true"></i>
           City
         </div>

       </div>
     </div>

     <div class="col-md-4">
      <div class="card">
        <div class="card-image">
          <div class="card-heart">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </div>
          <div class="card-price"><b> Price DKK </b></div>
        </div>
        <div class="card-title" >
         Title
       </div>
       <div class="card-category" >
         Category
       </div>
       <div class="card-city" >

         <i class="fa fa-map-marker" aria-hidden="true"></i>
         City
       </div>

     </div>

   </div>

   <div class="col-md-4">
    <div class="card">
      <div class="card-image">
        <div class="card-heart">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </div>
        <div class="card-price"><b> Price DKK </b></div>
      </div>
      <div class="card-title" >
       Title
     </div>
     <div class="card-category" >
       Category
     </div>
     <div class="card-city" >

       <i class="fa fa-map-marker" aria-hidden="true"></i>
       City
     </div>

   </div>
 </div>
</div>
</div>

</div>

<div class="footer">
  <ul class="list-inline">
    <li><a href=""><i class="polterappen "></i> Polterappen
    </a></li>
    <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i>
    </a></li>
    <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i>
    </a></li>
    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i>
    </a></li>
    <li><a href=""><i class="contact"></i> Hello@polterappen.com
    </a></li>
  </ul>
</div>




 -->

